<div id="message-{{id}}" class="neonText comment">
    <strong class="author-text">@{{username}}</strong>
    <span class="date-posted">{{created}}</span>
    <div class="comment-text">{{comment}} </div>
</div>