<header class="site-header">
    <h1><a href="/" class="neonText">GLOW</a></h1>

        <nav>
            {{#if logged}}
            <a href="" id="logout-button" class="neonText nav-bar-border">log out</a>
            <a href="/home" class="neonText nav-bar-border"> Home</a>
            <a href="/postimage" class="neonText nav-bar-border">Post</a>
            <a href="/viewpost" class="neonText nav-bar-border">Viewpost</a>
            <div class="neonText nav-bar-border">
                <input id="search" type="searchbar" placeholder="Search Here">
            </div>
        </nav>
    {{else}}
        
            <a href="/login" class="neonText nav-bar-border">Log In</a>
            <a href="/registration" class="neonText nav-bar-border">Register</a>
        
    {{/if}}





</header>