


    <div class="site-content">
<h1 class="neonText">{{message}}</h1>
<h2class="neonText">{{error.status}}</h2>
<pre class="neonText" style="font-size: large; text-align: center">{{error.stack}}</pre>


</div>


