
        
        <div class = "site-content-home">
            <h2 class = "neonText">Home</h2>
            <div id="counter"> </div>
            <button id="FAKEAPIBUTTON" class="button-home expand-on-hover neonText" type="button"> FAKE API </button>
            <div id="container-for-all-of-the-fake-api-pictures-and-titles-that-are-probrably-in-a-different-language">
            </div>
        </div>
       

