<div class="site-content">

    <h1 class="neonText">Hello</h1>
    <p class="neonText">Welcome to The Lounge</p>

    <div id="container-for-recents">
        {{#each results}}
        {{> card this}}
        {{/each}}
    </div>

</div>