
        
        <div class = "site-content">
            
            <form method="POST" action="/users/login"
             enctype="application/x-www-form-urlencoded">
                <header><h2 class ="neonText">Login</h2></header>
                <br>
                <fieldset class="">
    
        
                    
                    <br>
                    <label for="">Username</label> 
                    <br/>
                    <input class = "expand-on-focus " type="text" name="username"required>
                   
        
                    <br/>
                  
        
                    <label for="">Password</label>
                    <br/>
                    <input class = "expand-on-focus " type="password"  name="password" required>
        
                    <br/>
                    
                   
                    <button class = "expand-on-hover neonText" type="submit">Login</button>
                    <button class = "expand-on-hover neonText"  type="reset">Reset</button>
                    <br>
                    <div class="spacing"></div>
                    <a class = "neonText"href="/registration">Not a Member yet? what are u doing click here to join right now!</a>

        
        
                </fieldset>
            </form>
        
        </div>
        
   