
  
        <div class = "site-content">
            <form method = "POST"action="/posts/createPost" enctype ="multipart/form-data">
                <header>
                    <h2 class ="neonText">Post n' The Image</h2>
                    <h4 class ="neonText">Because why not</h4>
                </header>
                    <fieldset>
                    
                    
                    <label for="">Post Title</label>
                    <input class = "expand-on-focus " type="text" name = "title">
                    
                    <br/>
                    
                    <div class="spacing"></div>
                    <label  for="">Post Discription</label>
                    <br/>
                    <textarea placeholder="-- What is the your post about? --"rows = "5" cols = "70" name = "description"></textarea>
                    
                    <br/>
                    <div class="spacing"></div>

                    <label for="">Choose your Image</label>
                    <input class="neonText" type="file" name = "uploadImage">
                   
                    <br/>
                    <div class="spacing"></div>


                    <input type="checkbox" required>
                    
                    <label for="">
                        Do you accept the 
                        <a class = "neonText" href = "https://theuselessweb.com/" target="_blank">
                            Acceptable Use Policy</a>   for uploading image? 
                    </label>
                   
                    <br/>

                    <button class= "expand-on-hover neonText" type="submit">POST</button>
                    <button class= "expand-on-hover neonText"  neonTexttype="reset">Reset</button>

                </fieldset>
                  
                </form>
               
        </div>


     