<div class="site-content">
  <header><h2 class ="neonText">Registration Form</h2></header>

    <form  method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">
        <fieldset>

            <label for="">Username</label>
            <br />
            <input id="userName" type="text" name= "username" required>


            <br />
            <div class="spacing"></div>
            <label for="">Email</label>
            <br />
            <input id = "email" type="email" name= "email" required >


            <br />
            <div class="spacing"></div>
            <label for="">Password</label>
            <br />
            <input id="password" type="password" name= "password" required>


            <br />
            <div class="spacing"></div>
            <label for="">Confirm Password</label>
            <br />
            <input id="conPassword" type="password" name="cpassword" required>



            <br />

            <label for="">Are you 13 years old or older?</label>
            <input type="checkbox" required>


            <br />

            <label for="">
                Do you accept the
                <a class="neonText" href="https://theuselessweb.com/" target="_blank">TOS & Privacy rules</a>
                ?
            </label>
            <input type="checkbox" required>


            <br />

            <button class = "expand-on-hover neonText" id="subButton" type="submit" onclick="return reg()">Register</button>
            <button class = "expand-on-hover neonText" type="reset">Reset</button>
        </fieldset>
    </form>

    <div class="spacing"></div>

</div>
<div id="rsidebar" class="rsite-sidebar">
    <div id="requirments" class="hidden">
        <p id="userChecker" class="hidden"> User Name Format</p>
        <p id="passChecker" class="hidden">Passwords match & <br> Format</p>
        <p id="emailChecker" class="hidden"> Email</p>
    </div>


</div>
