<div class="site-content">
    <header>
        <h1 class="neonText">View n' The Post</h1>
    </header>



    <section>
        <header>
            <h2 class="neonText">Post:</h2>
        </header>

        <img class="image " src="https://c.tenor.com/jCk8c5_Q4J0AAAAS/hacker.gif" alt="Nothing here I guess">

    </section>


</div>

<div class="lsite-sidebar">
    <section>
        <header>
            <h2 class="neonText">Post Title:</h2>
        </header>
        <p class="neonText"><strong>"Going crazy"</strong></p>
    </section>

    <section>
        <header>
            <h2 class="neonText">Post Author:</h2>
        </header>
        <p class="neonText"><strong>GOOGLE</strong></p>
    </section>

    <section>
        <header>
            <h2 class="neonText">Time of creation:</h2>
        </header>
        <p class="neonText"><strong> October 8, 2021. 7:00PM PST</strong></p>
    </section>
    <section>
        <form>
            <label for="">Comment</label>
             <br />
            <textarea placeholder="--Want to Write something--" rows="5" cols="40"></textarea>
            <button> Submit Comment</button>
        </form> 
        
    </section>
</div>

<footer class="site-footer neonText">
    <div style="height: 10px"></div>
    End of Viewing Post Page -
    Brought to you by a random kid that doesnt know whats going on
    <br />
    but now has little experience in HTML & CSS.
</footer>